body{
    background-color: black;
}
.header{
    margin-top: 5px;
    margin-left: 45%;
    color: white;
}
.header img{
    width: 100px;
    height: 50px;
}
h5{
    margin-left: 2%;
}
img{
   
    width: 1520px;
    height: 330px;
}
.footer h2{
    margin-left: 45%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
p{
    margin-left: 35%;
    font-size: 20px;
    color: white;
    
}
hr{
    width: 300px;
}